// Background colors
//==========================================>

.bg,
.bg-red,
.bg-yellow,
.bg-aqua,
.bg-blue,
.bg-light-blue,
.bg-green,
.bg-navy,
.bg-teal,
.bg-olive,
.bg-lime,
.bg-orange,
.bg-fuchsia,
.bg-purple,
.bg-maroon,
.bg-black,
.bg-red-active,
.bg-yellow-active,
.bg-aqua-active,
.bg-blue-active,
.bg-light-blue-active,
.bg-green-active,
.bg-navy-active,
.bg-teal-active,
.bg-olive-active,
.bg-lime-active,
.bg-orange-active,
.bg-fuchsia-active,
.bg-purple-active,
.bg-maroon-active,
.bg-black-active {
    color: #fff !important;
}

.bg-gray       {
    color: #000;
}

.bg-gray       { background-color: @light-gray !important; }
.bg-gray-light { background-color: #f7f7f7; }
.bg-black      { background-color: @black !important; }
.bg-blue       { background-color: @blue !important; }
.bg-light-blue { background-color: @brand-primary !important; }
.bg-green      { background-color: @brand-success !important; }
.bg-aqua       { background-color: @brand-info !important; }
.bg-yellow     { background-color: @brand-warning !important; }
.bg-red        { background-color: @brand-danger !important; }
.bg-navy       { background-color: @navy !important; }
.bg-teal       { background-color: @teal !important; }
.bg-olive      { background-color: @olive !important; }
.bg-lime       { background-color: @lime !important; }
.bg-orange     { background-color: @orange !important; }
.bg-fuchsia    { background-color: @fuchsia !important; }
.bg-purple     { background-color: @purple !important; }
.bg-maroon     { background-color: @maroon !important; }

// Set of Active Background Colors
.bg-gray-active {
    color: #000;
}

.bg-gray-active       { background-color: darken(@light-gray, 10%) !important; }
.bg-black-active      { background-color: darken(@black, 10%) !important; }
.bg-blue-active       { background-color: darken(@blue , 10%) !important; }
.bg-light-blue-active { background-color: darken(@brand-primary , 6%) !important; }
.bg-green-active      { background-color: darken(@brand-success , 5%) !important; }
.bg-aqua-active       { background-color: darken(@brand-info , 6%) !important; }
.bg-yellow-active     { background-color: darken(@brand-warning , 6%) !important; }
.bg-red-active        { background-color: darken(@brand-danger, 6%) !important; }
.bg-navy-active       { background-color: darken(@navy , 2%) !important; }
.bg-teal-active       { background-color: darken(@teal , 5%) !important; }
.bg-olive-active      { background-color: darken(@olive , 5%) !important; }
.bg-lime-active       { background-color: darken(@lime , 5%) !important; }
.bg-orange-active     { background-color: darken(@orange , 5%) !important; }
.bg-fuchsia-active    { background-color: darken(@fuchsia , 5%) !important; }
.bg-purple-active     { background-color: darken(@purple , 5%) !important; }
.bg-maroon-active     { background-color: darken(@maroon , 3%) !important; }

// Gradient Background colors
.bg-teal-gradient,
.bg-blue-gradient,
.bg-light-blue-gradient,
.bg-aqua-gradient,
.bg-yellow-gradient,
.bg-purple-gradient,
.bg-green-gradient,
.bg-red-gradient,
.bg-black-gradient,
.bg-maroon-gradient {
    color: #fff;
}

.bg-teal-gradient       { .bg-gradient(@teal; @teal; lighten(@teal, 16%)) !important; }
.bg-blue-gradient       { .bg-gradient(@blue; @blue; lighten(@blue, 7%)) !important; }
.bg-light-blue-gradient { .bg-gradient(@brand-primary; @brand-primary; lighten(@brand-primary, 12%)) !important; }
.bg-aqua-gradient       { .bg-gradient(@brand-info; @brand-info; lighten(@brand-info, 7%)) !important; }
.bg-yellow-gradient     { .bg-gradient(@brand-warning; @brand-warning; lighten(@brand-warning, 16%)) !important; }
.bg-purple-gradient     { .bg-gradient(@purple; @purple; lighten(@purple, 16%)) !important; }
.bg-green-gradient      { .bg-gradient(@brand-success; @brand-success; lighten(@brand-success, 7%)) !important; }
.bg-red-gradient        { .bg-gradient(@brand-danger; @brand-danger; lighten(@brand-danger, 10%)) !important; }
.bg-black-gradient      { .bg-gradient(@black; @black; lighten(@black, 10%)) !important; }
.bg-maroon-gradient     { .bg-gradient(@maroon; @maroon; lighten(@maroon, 10%)) !important; }

// Disabled!
[class^="bg-"].disabled {
    .opacity(.65);
}
