// Miscellaneous : Typography
//==========================================>

// Text colors
.text-red {
    color: @red !important;
}

.text-yellow {
    color: @yellow !important;
}

.text-aqua {
    color: @aqua !important;
}

.text-blue {
    color: @blue !important;
}

.text-black {
    color: @black !important;
}

.text-light-blue {
    color: @light-blue !important;
}

.text-green {
    color: @green !important;
}

.text-gray {
    color: @gray !important;
}

.text-navy {
    color: @navy !important;
}

.text-teal {
    color: @teal !important;
}

.text-olive {
    color: @olive !important;
}

.text-lime {
    color: @lime !important;
}

.text-orange {
    color: @orange !important;
}

.text-fuchsia {
    color: @fuchsia !important;
}

.text-purple {
    color: @purple !important;
}

.text-maroon {
    color: @maroon !important;
}

.link-muted {
    color: darken(@gray, 30%);

    &:hover, &:focus {
        color: darken(@gray, 40%);
    }
}

.link-black {
    color: #666;

    &:hover, &:focus {
        color: #999;
    }
}

// Light font weight
.font-light,
.text-light {
    font-weight: 300;
}

// Bold font weight
.font-bold,
.text-bold {
    &, &.table td, &.table th {
        font-weight: 700;
    }
}

.text-sm {
    font-size: 12px;
}

.size-12 { font-size: 12px; }
.size-14 { font-size: 14px; }
.size-16 { font-size: 16px; }
.size-18 { font-size: 18px; }
.size-21 { font-size: 21px; }
.size-24 { font-size: 24px; }
.size-32 { font-size: 32px; }
.size-48 { font-size: 48px; }
.size-64 { font-size: 64px; }
.size-96 { font-size: 96px; }
