// Component: Label
//==========================================>

.label {
    &.label-shadow {
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    }
}

.label-default {
    background-color: @light-gray;
    color: #444;
}

.label-primary {
    &:extend(.bg-light-blue);
}

.label-success {
    &:extend(.bg-green);
}

.label-info {
    &:extend(.bg-aqua);
}

.label-warning {
    &:extend(.bg-yellow);
}

.label-danger {
    &:extend(.bg-red);
}
